---
import Game from "../layouts/Game.astro";
import GameOverScreen from "../layouts/GameOverScreen.astro";
import StartMenu from "../layouts/StartMenu.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Color Tiles 2</title>
	</head>
	<body>
  	<!-- <h1 id="score">0</h1>
		<progress value="100" max="100" id="progress-timer"></progress> -->
    <!-- <StartMenu/> -->
		<Game/>
		<button id="undo">UNDO</button>

	</body>
</html>

<style>
 *{
	padding: 0;
	margin: 0;
 }
 body{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
 }
</style>
