---
---
<div class="game-container" id="game-container">
</div>

<style>
 #game-container {
  display: flex;
  align-items: center;
  justify-content: center;
 }
</style>
<script src="../Game/main.ts"></script>