<div class="start-menu-container" id="start-menu">
  <button id="start-button">START GAME</button>
</div>

<style>
  .start-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    background-color: rgb(193, 76, 76);
    color: black;
  }
  button {
    background-color: gray;
  }
</style>
